1. Import Libraries
2. Import Data Set
3. Basic Analysis
4. Data Wrangling

In [50]:
# 1. Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [51]:
# 2. Import Data Set

In [52]:
path = r'C:\Users\RUD\Desktop\A6_Boat_Sales'

In [53]:
# Import and create data set 'boat'
df_boat = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'boat_sales.csv'), index_col = False)

In [54]:
# 3. Basic Analysis

In [55]:
df_boat.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [56]:
df_boat.shape

(9888, 10)

In [57]:
df_boat.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
dtype: int64

In [58]:
df_boat['Length'] = df_boat['Length'].fillna(df_boat['Length'].median())
df_boat['Width'] = df_boat['Width'].fillna(df_boat['Width'].median())

In [59]:
df_boat_clean = df_boat.dropna()

In [60]:
df_boat_clean.shape

(7037, 10)

In [61]:
df_boat_clean.isnull().sum()

Price                          0
Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Location                       0
Number of views last 7 days    0
dtype: int64

In [62]:
df_boat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9888 non-null   float64
 6   Width                        9888 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

In [63]:
# Descriptive Statistics

In [64]:
df_boat.describe()

        Year Built       Length        Width  Number of views last 7 days
count  9888.000000  9888.000000  9888.000000                  9888.000000
mean   1893.192860    11.568843     3.519047                   149.160801
std     460.201582     6.000213     1.217156                   151.819752
min       0.000000     1.040000     0.010000                    13.000000
25%    1996.000000     7.470000     2.550000                    70.000000
50%    2007.000000    10.280000     3.330000                   108.000000
75%    2017.000000    13.920000     4.250000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

In [65]:
# drop the years with 0
df_boat_clean = df_boat_clean[df_boat_clean['Year Built']!=0]

In [66]:
df_boat_clean.describe()

        Year Built       Length        Width  Number of views last 7 days
count  6607.000000  6607.000000  6607.000000                  6607.000000
mean   2006.764038    11.228538     3.476063                   162.011200
std      12.658449     5.177174     1.120912                   170.771177
min    1901.000000     2.320000     0.860000                    13.000000
25%    2000.000000     7.470000     2.550000                    73.000000
50%    2008.000000    10.000000     3.300000                   113.000000
75%    2018.000000    13.720000     4.200000                   187.000000
max    2021.000000    56.000000    16.000000                  3263.000000

In [67]:
# check for duplicates
df_boat_clean_dups = df_boat_clean[df_boat_clean.duplicated()]

In [68]:
df_boat_clean_dups

Empty DataFrame
Columns: [Price, Boat Type, Manufacturer, Type, Year Built, Length, Width, Material, Location, Number of views last 7 days]
Index: []

In [69]:
# check for mixed data type
for col in df_boat_clean.columns.tolist():
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_boat_clean[weird]) > 0:
    print (col)

C:\Users\RUD\AppData\Local\Temp\ipykernel_7608\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\RUD\AppData\Local\Temp\ipykernel_7608\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\RUD\AppData\Local\Temp\ipykernel_7608\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\RUD\AppData\Local\Temp\ipykernel_7608\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\RUD\AppData\Local\Temp\ipykernel_7608\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\RUD\AppData\Local\Temp\ipykernel_7608\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\RUD\AppData\Local\Temp\ipykernel_7608\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\RUD\AppData\Local\Temp\ipykernel_7608\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\RUD\AppData\Local\Temp\ipykernel_7608\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\RUD\AppData\Local\Temp\ipykernel_7608\3943468162.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)

In [70]:
# check for the shape of the cleaned dataframe
df_boat_clean.shape

(6607, 10)

In [71]:
# 4. Data Wrangling

In [72]:
# Reduce the 'Location' variable to Country

In [73]:
df_boat_clean['Location'].value_counts()

Location
Croatia (Hrvatska)                            204
Netherlands Â» In verkoophaven                164
Italy Â» Toscana Â» Toscana                   107
France                                        100
Italy Â» Mar Tirreno                           95
                                             ...
Italy Â» lombardia                              1
Italy Â» Adria (IT) Â» Grado                    1
Greece Â» onbekend                              1
Croatia (Hrvatska) Â» BOOTE RIEDL NOVIGRAD      1
Switzerland Â» Bielersee Â» Gerolfingen         1
Name: count, Length: 2323, dtype: int64

In [74]:
df_boat_clean['Location'] = df_boat_clean['Location'].str.split(' ').str[0]

In [75]:
# Transform the values of the 'Prices' variable to one currency: EUR

In [76]:
# Extract type of currency and amount from Price columns
curr = df_boat_clean['Price'].str.split(' ', expand=True).rename(columns={0:'Currency',1:'Amount'})

# Changing data type of currency to int
curr['Amount'] = curr['Amount'].astype(int)

# Checking unique currencies
curr['Currency'].unique()

array(['EUR', 'CHF', 'DKK', 'Â£'], dtype=object)

In [77]:
# Function for convertion - Currency rates from 27.05.24
def convert_curr(x):
    if x['Currency'] == 'CHF':
        return x['Amount']*1.01
    elif x['Currency'] == 'DKK':
        return x['Amount']*0.13
    elif x['Currency'] == 'Â£':
        return x['Amount']*1.18
    else:
        return x['Amount']

In [78]:
#  Convert values from'Price' in EUR 
df_boat_clean['Price in EUR'] = curr.apply(convert_curr, axis=1).astype(int)
df_boat_clean = df_boat_clean.drop('Price', axis=1)

In [79]:
df_boat_clean.head()

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Price in EUR
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany,75,3490
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany,58,3399
10,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland,239,3535
12,Sport Boat,GS Nautica power boats,Used boat,2004,4.70,2.00,GRP,Italy,69,3500
13,Runabout,Kimple power boats,new boat from stock,2020,4.40,1.65,Aluminium,Switzerland,113,4646

In [80]:
df_boat_clean.describe()

,Year Built,Length,Width,Number of views last 7 days,Price in EUR
count,6607.000000,6607.000000,6607.000000,6607.000000,6.607000e+03
mean,2006.764038,11.228538,3.476063,162.011200,2.772538e+05
std,12.658449,5.177174,1.120912,170.771177,7.445500e+05
min,1901.000000,2.320000,0.860000,13.000000,3.399000e+03
25%,2000.000000,7.470000,2.550000,73.000000,4.499450e+04
50%,2008.000000,10.000000,3.300000,113.000000,9.500000e+04
75%,2018.000000,13.720000,4.200000,187.000000,2.490000e+05
max,2021.000000,56.000000,16.000000,3263.000000,2.350000e+07

In [81]:
df_boat_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'boat_data_wrangled.csv'))